@import "tailwindcss";

@theme {
  --font-raleway: var(--font-raleway);

  --color-primary: #99FF00;
  --color-secondary: #1A1A1A;
  --color-accent: #FFFFFF;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #FFFFFF;
  --foreground: #1A1A1A;
  --font-raleway: "Raleway", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}